@value phone, tablet, desktop, notphone, notdesktop from "../styles/breakpoints.css";
@value fonts: "../styles/fonts.css";

$topContainerHeight: 184px;

.main_container {
}

.top_block {
	composes: top_block from '../Test/Test.css';
  align-items: center;
}

.top_container {
	composes: top_container from '../Test/Test.css';
	@media notdesktop {
		background: none;
		justify-content: center;
	}
}

.img {
	@media notdesktop {
		height: 115px;
	}
	@media desktop {
		height: 80px;
	}
}

.b_img {
	composes: b_img from '../Test/Test.css';
	@media tablet {
		display: none;
	}

}
.card_block {
	composes: card_block from '../Test/Test.css';
}

.card_container {
	composes: card_container from '../Test/Test.css';
}
.header_block {
	@media phone{
		padding: 16px;
	}
	@media notphone {
		padding: 32px 32px 16px;
	}
}
.card_title {
  font-size: 20px;
  color: $font_color--opacity;
	text-transform: uppercase;
	display: block;
}

.law_result {
	composes: title from fonts;
	display: block;
	padding-top: 16px;
}

.law_text {
	composes: text from fonts;
	border-top: solid 1px rgba(0, 0, 0, 0.12);
	ul {
    padding-left: 16px;
    margin-top: 0;
    li {
      margin-bottom: 8px;
    }
  }
	@media phone{
		padding: 16px;
	}
	@media notphone {
		padding: 24px 32px;
	}
}

.recomendation {
	font-weight: 300;
	display: flex;
	background-color: #e4e9eb;
	@media phone {
		padding: 32px 16px;
		flex-direction: column;
	}
	@media tablet {
		padding: 32px;
		flex-direction: column;
	}
	@media desktop {
		padding: 32px;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.recomendation_content {
	@media notdesktop {		
		order: 2;
		padding-top: 32px;
	}
	@media desktop {
		order: 1;
		width: 60%;
		display: flex;
    flex-direction: column;
    justify-content: space-between;
	}
}
.recomendation_img {
	justify-content: center;
  display: flex;
  @media notdesktop {		
		order: 1;
	}
	@media desktop {
		order: 2;
		width: 40%;

	}
}
.recomendation_text {
	font-size: 16px;
  color: $font_color;
}
.actions {
	display: flex;
	justify-content: flex-start;
	padding-top: 16px;
	button {
		margin-right: 8px;
	}
}

.hints {
	padding: 16px;
}
.main_hints {
	padding-top: 16px;
	font-size: 16px;
}

.law_hint {
	composes: text from fonts;
}

.to_site {
	display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 16px;
 
  padding: 16px 0;
  button {
  	margin-right: 24px;
  }
}


.subscribe_card {
	margin-top: 16px;
}

