@value phone, tablet, desktop, notphone, notdesktop from "../styles/breakpoints.css";

.subscribe_container {
	display: flex;
	flex-direction: column;
	@media phone {
		padding: 32px 16px;
	}
	@media notphone {
		padding: 32px;
	}
}

.subscribe_title {
	text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.subscribe_input_container {
	display: flex;
	@media phone {
		flex-direction: column;
	}
	@media notphone {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}

.subscribe_input {
	@media phone {
		flex-grow: 1;
	}
	@media notphone {
		flex-basis: 320px;
	}
}

.subscribe_button {
	@media phone {
		margin-top: 16px;
	}
	@media notphone {
    margin-left: 24px;
	}
}