@value phone, tablet, desktop from "../styles/breakpoints.css";

$headerHeight: 60px;
$footerHeight: 60px;
$headerShadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
$footerShadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.5);

.main {		
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.header {
	position: fixed;
	height: $headerHeight;
	background: $color-green;
	box-shadow: $headerShadow;
	width: 100%;
	display: flex;
	z-index: 100;
	align-items: center;
  @media phone {
  	padding-left: 16px;
  }
  @media tablet {
  	padding-left: 24px;
  }
  @media desktop {
  	padding-left: 40px;
  }
}
.logo {
	display: block;
  width: 164px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.container {
	padding-top: $headerHeight;
	display: flex;
	flex-direction: column;
  flex-grow: 1;
}


.footer {
	background: #404040;
	height: $footerHeight;
	box-shadow: $footerShadow;
	position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
	span {
  	padding: 0 16px;
		font-size: 12px;
		color: #ffffff;
		opacity: 0.87;
		a{
			text-decoration: none;
			color: inherit;
		}
	}
}
